.body {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --white: #fff;
  --dairy: #fcfcfc;
  font-family: "Roboto", sans-serif;
  --second-family: "Raleway", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
.header {
  border-bottom: 1px solid var(--cornflower);
}
img {
  display: block;
}

.menu {
  display: flex;
  gap: 40px;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.container {
  width: 1158pxpx;
  padding: 0px 15px;
}
.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 72px;
  padding: 0 15px;
  width: 1158px;
}
.features-list {
  display: flex;
  gap: 24px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.logo {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
  text-decoration: none;
  line-height: 1.17;
  margin-right: 76px;
}
.logo-blue {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 18px;

  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--navy-blue);
  padding: 24px 0;
}
.logo-blue-footer {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 18px;

  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--cloud);
  display: inline-block;
  margin-bottom: 16px;
}

.contacts {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
  text-decoration: none;
}

.main-title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--white);
  max-width: 496px;
  text-align: center;
}
.hero-button {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;

  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  background: var(--iris);
  cursor: pointer;
  height: 56px;
  display: block;
  margin: 0 auto;
  border: none;
  min-width: 169px;
  border-radius: 4px;
}
.title-section {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}
.section-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

.main-title-section {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--navy-blue);
  text-transform: capitalize;
  margin-bottom: 72px;
}
.list-team {
  display: flex;
  gap: 24px;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
}
.list-portfolio {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  border-top: none;
  margin-bottom: 8px;
  border: 1px solid var(--cornflower);
}
.team-member {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;

  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--navy-blue);
  text-align: center;
  margin-bottom: 8px;
}

.team-list {
  border-radius: 0 0 4px 4px;
  padding: 0px 0px 32px;
  width: 264px;
  height: 380px;
}
.team-info {
  padding: 32px 0;
}

.member-list {
  padding: 32px 0;
}
.portfolio-list {
  width: 360px;
  height: 420px;
  padding: 32px 16px;
  margin-bottom: 8px;
  width: calc((100% - 48px) / 3);
}
.portfolio-info {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  margin-bottom: 8px;
}

.list-portfolio {
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.images-list {
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
}
a {
  text-decoration: none;
}
.position {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;

  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--slate);
  text-align: center;
}

.portfolio-title {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;

  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}
.portfolio-description {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;

  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}
.footer-description {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cloud);
}
.nav {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  text-decoration: none;
  display: flex;
  align-items: center;
  flex-grow: 1;
}
.nav:hover,
.nav:focus {
  color: var(--ocean);
}
.address {
  font-style: normal;
}
.contacts:hover,
.contacts:focus {
  color: var(--ocean);
}

.section-list {
  background-color: var(--white);
  width: calc((100% - 72px) / 4);
}
.title-section {
  margin-bottom: 8px;
}
.footer {
  background-color: var(--navy-blue);
  padding: 100px 0;
}
.hero {
  background-color: var(--navy-blue);
  padding: 188px 0;
}
.hero-button:hover {
  background-color: var(--ocean);
}
.hero-button:focus {
  background-color: var(--ocean);
}
.team {
  background-color: var(--cloud);
}
.team-list {
  background-color: var(--white);
}
.nav-list {
  padding: 24px 0;
}
.features-list {
  display: flex;
  gap: 24px;
}
